
@import url('https://fonts.googleapis.com/css?family=Arvo|BioRhyme:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,300i,400,400i,500,600,700,800,900&display=swap');

/*************************************************************

                          GENERAL

**************************************************************/
body, html {
  height: 100%;
  margin: 0px;
  /*font: 400 15px/1.8 "Lato", sans-serif;
  font-family: 'Open Sans', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  color: #777;

  scroll-behavior: smooth;

}

h1{
  font-weight: 400;
  font-size: 30px;
  font-variant: small-caps;
  text-align: center;
}
h2 {
  font-weight: 200;
}
h3{

}

/*************************************************************

                          NAVBAR 

**************************************************************/

.topnav {
  position: absolute;
  top: 45px;
  left: 60%;
  overflow: hidden;
}

.topnav a {
  text-decoration: none;
  text-align: center;
  padding: 12px 15px;
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.topnav a:hover {
  color: white;
  background-color: #292c2f;
}

.link:hover {
  background-color: white;
  color: #0066ff;
}

/*************************************************************

                        MAIN PAGE

**************************************************************/
.home-bckgrd{
  background-image: url("img/me.jpg");
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  min-height: 100%;
  opacity: 0.55;
}

.intro {
	width: 500px;
	height: 95px;
  background-color: none;


  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  /*font-family: 'Open Sans', sans-serif;

  font-family: 'Arvo', serif;
  font-family: 'BioRhyme', serif;
  font-family: 'Hepta Slab', serif;*/
  font-size: 44px;
  font-weight: 400;
  color: #000000;

	position: absolute;
	top: 10px;
	bottom: 0px;
	left: 0;
	right: 0;

	margin: auto;

  line-height: 95%;
  opacity: 0.9;
}

#pre{
  font-size: 23px;
  font-weight: 400;
}
#my-name{
  font-weight: 400;
}

.navigator{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  bottom: 5%;
  right: 3%;

  height: 55px;
  z-index: 1;
}

#uparrow, #downarrow{
  border-radius: 5px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 25px;
  height: 25px;

  cursor: pointer;
}

#uparrow{
  background-image: url("img/arrowimgup.png");
}

#downarrow{
  background-image: url("img/arrowimgdown.png");
}

/*************************************************************

                          TYPING ANIMATION

**************************************************************/
#container {
  text-align: center;
  padding-top: 20px;
}

#text {
	display: inline-block;
	vertical-align: middle;
  color: black;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 40px;
  background-color: #292c2f;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #292c2f; 
	}
}

/*************************************************************

                   BOUNCING ANGLE DOWN

**************************************************************/

.arrow{
  position: relative;
  bottom: 3.7rem;
  left: 50%;
  width: 40px;
  height: 40px;

  color: #292c2f;
}

.bounce {
  animation: bounce 2.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}



/*************************************************************

                          OVERVIEW

**************************************************************/
#overview {
  padding-top: 50px;
  overflow-x: hidden;

}
.overview-subsection {
  position: relative;
  width: 100%;
  left: 18%;
  padding-bottom: 20px;
  line-height: 1.5;

  display: flex;
  flex-direction: row;
}
.overview-subsection h2{
  float: right;
  margin-right: 50px;
  width: 150px;
  text-align: right;
  font-weight: 300;
}
.overview-content{
  font-weight: 300;
  padding-top: 10px;
  font-size: 16px;

  width: 510px;

}


.subsection-name{
  font-size: 14px;
  font-weight: 400;
}
.subsection-school{
  font-size: 18px;
  font-weight: 400;
}

.magenta{ color:magenta }
.company{
  font-weight: 500 !important;
  font-size: 18px;
}
.role-title{
  font-weight: 400 !important;
  font-size: 18px;
}
.experience-500{
  font-weight: 500 !important;
  font-size: 15px;
}
.skills{
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
}
.experience{
  font-weight: 300;
  font-size: 14px;
}
li{
  font-size: 15px;
}

#resume-button {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

/*************************************************************

                          PROJECT

**************************************************************/
#project {
  background-color: whitesmoke;
  min-height: 400px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.project-subsection {
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-top: 40px;
}

.set{
  background-image: url("img/set.png");
} 
.pokedex{
  background-image: url("img/pika.png");
}
.set, .pokedex{
  width: 330px;
  height:220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid black 1px;
  border-radius: 15px;
  cursor: pointer;
}
.game_name{
  font-size: 25px;
  color: #292c2f;
}

/*************************************************************

                          GALLERY

**************************************************************/
#gallery{
  height: 430px;
  padding-top: 30px;
  color: grey;
  text-align: center;

  background-image: url("gallery_background/gallery_background14.jpg");
}

* { box-sizing: border-box; }

.scene {
  border: 1px solid white;
  position: relative;
  width: 210px;
  height: 140px;
  margin: 30px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
  border: 5px solid white;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;

  cursor: pointer;
}

.carousel__cell:nth-child(1) { background-image: url("gallery_img/img0.jpeg"); }
.carousel__cell:nth-child(2) { background-image: url("gallery_img/img1.jpeg"); }
.carousel__cell:nth-child(3) { background-image: url("gallery_img/img2.jpeg"); }
.carousel__cell:nth-child(4) { background-image: url("gallery_img/img3.jpeg"); }
.carousel__cell:nth-child(5) { background-image: url("gallery_img/img4.jpeg"); }
.carousel__cell:nth-child(6) { background-image: url("gallery_img/img5.jpeg"); }
.carousel__cell:nth-child(7) { background-image: url("gallery_img/img6.jpeg"); }
.carousel__cell:nth-child(8) { background-image: url("gallery_img/img7.jpeg"); }
.carousel__cell:nth-child(9) { background-image: url("gallery_img/img8.jpeg"); }
.carousel__cell:nth-child(10) { background-image: url("gallery_img/img9.jpeg"); }
.carousel__cell:nth-child(11) { background-image: url("gallery_img/img9.jpeg"); }
.carousel__cell:nth-child(12) { background-image: url("gallery_img/img9.jpeg"); }
.carousel__cell:nth-child(13) { background-image: url("gallery_img/img9.jpeg"); }
.carousel__cell:nth-child(14) { background-image: url("gallery_img/img9.jpeg"); }
.carousel__cell:nth-child(15) { background-image: url("gallery_img/img9.jpeg"); }


.gallery, .carousel__cell:nth-child(9n+1), .carousel__cell:nth-child(9n+2), .carousel__cell:nth-child(9n+3), 
.carousel__cell:nth-child(9n+4), .carousel__cell:nth-child(9n+5), .carousel__cell:nth-child(9n+6),
.carousel__cell:nth-child(9n+7), .carousel__cell:nth-child(9n+8), .carousel__cell:nth-child(9n+0){
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }

.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
}

.next-button, .previous-button{
  border-radius: 20px;
  border: solid 1px grey;
  color: grey;
  width: 70px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.next-button:hover, .previous-button:hover, .cells-range{ cursor: pointer; }
.next-button:focus, .previous-button:focus { outline:0; }



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.nextImg, .prevImg {
  position: absolute;
  top: 50%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.nextImg{
  right: 120px;
}
.prevImg{
  left: 120px;
}

.nextImg:hover, .nextImg:focus, 
.prevImg:hover, .prevImg:focus, 
.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*************************************************************

                          CONTACT

**************************************************************/
.project{
  background-color: whitesmoke;
  min-height: 400px;
  padding-top: 30px;
}

.project-subsection {
  text-align: center;
}

/*************************************************************

                          FOOTER

**************************************************************/
.footer-container{
  font-family: 'Montserrat', sans-serif;

	background-color: #292c2f;
  color: #EEEEEE;
  padding-top: 40px;
  height: 300px; 

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span{
  font-size: 40px;
  font-weight: 400;
}

#icon1, #icon2, #icon3, #icon4, #icon5{
  display: inline-block;
  text-align: center;
  line-height: 70px;

  height: 58px;
  width: 58px;
  margin: 5px;
  
  color:#292c2f;
  background-color: white;
  border-radius: 50%;
}

#icon1:hover, #icon2:hover, #icon3:hover, #icon4:hover, #icon5:hover{
  color: white;
  background-color: #292c2f;
}

#icon1 a:hover {
  content: 'hovering';
}

.footer-nav{
  position: relative;
  width: 60%;
  padding-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
} 
.footer-nav .link{
  font-weight: 300;
  font-size: 16px;
  margin: 0px 40px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
.footer-nav a:hover{
  color: #292c2f;
  padding: 7px 15px;
  font-size: 18px;
}

.copyright{
  padding-top: 30px;
  font-size: 12px;
  color: lightgray;
}

/*************************************************************

                          OTHER

**************************************************************/
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .home-bckgrd {
    background-attachment: scroll;
  }
}

.hidden {
  display: none !important;
}



